@model IEnumerable<mf_dev_backend_2026.Models.Consumo>

@{
    ViewData["Title"] = "Relatorio";
}

<h1>Relatório do Veículo: @ViewBag.Veiculo.Nome</h1>

<h3>Valor Total: R$ @ViewBag.Total</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Km)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Km)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            
        </tr>
}
    </tbody>
</table>

<div class="form-group">
    <a class="btn btn-info" asp-action="Index">Voltar</a>
</div>